# --- CORE FLASK ---
Flask==3.1.1
flask-cors==6.0.0
Flask-JWT-Extended==4.7.1
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
python-dotenv==1.1.0

# --- DB MYSQL ---
PyMySQL==1.1.1
SQLAlchemy==2.0.41

# --- AI/ML/DEEP LEARNING ---
torch==2.7.1
torchvision==0.22.1
onnxruntime==1.22.0
faiss-cpu==1.11.0
scikit-learn==1.6.1
joblib==1.5.1

# --- IMAGE PROCESSING ---
opencv-python==4.11.0.86
pillow==11.1.0

# --- DATA ---
numpy==2.2.2
pandas==2.3.0

# --- UTILITY ---
requests==2.32.4
python-dateutil==2.9.0.post0

# --- ULTRALYTICS (YOLO) ---
ultralytics==8.3.154

# --- OPSIONAL (Jika kamu pakai pyngrok dan logika lain) ---
pyngrok==7.2.11
